In [51]:
import pandas as pd

In [52]:
income=pd.read_csv('../data/Mean_income-2022-12-07T010142.csv')

In [53]:
income.head()

,Label (Grouping),Tennessee!!Number!!Estimate,Tennessee!!Number!!Margin of Error,Tennessee!!Percent Distribution!!Estimate,Tennessee!!Percent Distribution!!Margin of Error,Tennessee!!Mean income (dollars)!!Estimate,Tennessee!!Mean income (dollars)!!Margin of Error,"Davidson County, Tennessee!!Number!!Estimate","Davidson County, Tennessee!!Number!!Margin of Error","Davidson County, Tennessee!!Percent Distribution!!Estimate","Davidson County, Tennessee!!Percent Distribution!!Margin of Error","Davidson County, Tennessee!!Mean income (dollars)!!Estimate","Davidson County, Tennessee!!Mean income (dollars)!!Margin of Error"
0,HOUSEHOLD INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All households,"2,770,395","±8,851","2,770,395","±8,851","83,777","±1,150","316,273","±3,566","316,273","±3,566","99,415","±4,200"
2,With earnings,"2,092,347","±12,627",75.5%,±0.4,"85,896","±1,426","264,363","±4,845",83.6%,±1.0,"99,843","±4,436"
3,With wages or salary income,"2,005,687","±13,256",72.4%,±0.4,"82,529","±1,383","252,882","±4,832",80.0%,±1.1,"94,135","±3,658"
4,With self-employment income,"312,186","±8,973",11.3%,±0.3,"45,477","±3,076","45,450","±3,780",14.4%,±1.2,"56,980","±9,948"

In [54]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Label (Grouping)                                                    32 non-null     object
 1   Tennessee!!Number!!Estimate                                         28 non-null     object
 2   Tennessee!!Number!!Margin of Error                                  28 non-null     object
 3   Tennessee!!Percent Distribution!!Estimate                           28 non-null     object
 4   Tennessee!!Percent Distribution!!Margin of Error                    28 non-null     object
 5   Tennessee!!Mean income (dollars)!!Estimate                          28 non-null     object
 6   Tennessee!!Mean income (dollars)!!Margin of Error                   28 non-null     object
 7   Davidson County, Tennessee!!Number!!Estimate                        28 non-null     object
 8   Davidson County, Tennessee!!Number!!Margin of Error                 28 non-null     object
 9   Davidson County, Tennessee!!Percent Distribution!!Estimate          28 non-null     object
 10  Davidson County, Tennessee!!Percent Distribution!!Margin of Error   28 non-null     object
 11  Davidson County, Tennessee!!Mean income (dollars)!!Estimate         28 non-null     object
 12  Davidson County, Tennessee!!Mean income (dollars)!!Margin of Error  28 non-null     object
dtypes: object(13)
memory usage: 3.4+ KB

In [61]:
income_2020=pd.read_csv('../data/incom_by_zip_2022-12-09T020507.csv')

In [62]:
income_2020.head()

,Label (Grouping),Total,"Total!!Less than $10,000","Total!!$10,000 to $14,999","Total!!$15,000 to $24,999","Total!!$25,000 to $34,999","Total!!$35,000 to $49,999","Total!!$50,000 to $74,999","Total!!$75,000 to $99,999","Total!!$100,000 to $149,999","Total!!$150,000 to $199,999","Total!!$200,000 or more",Median income (dollars),Mean income (dollars),PERCENT ALLOCATED,PERCENT ALLOCATED!!Household income in the past 12 months,PERCENT ALLOCATED!!Family income in the past 12 months,PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Households,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,"122,354,219",5.8%,4.1%,8.5%,8.6%,12.0%,17.2%,12.8%,15.6%,7.1%,8.3%,"64,994","91,547",NaN,35.9%,(X),(X)
3,Margin of Error,"±211,970",±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±128,±157,NaN,(X),(X),(X)
4,Families,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
income_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 18 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Label (Grouping)                                           299 non-null    object
 1   Total                                                      184 non-null    object
 2   Total!!Less than $10,000                                   184 non-null    object
 3   Total!!$10,000 to $14,999                                  184 non-null    object
 4   Total!!$15,000 to $24,999                                  184 non-null    object
 5   Total!!$25,000 to $34,999                                  184 non-null    object
 6   Total!!$35,000 to $49,999                                  184 non-null    object
 7   Total!!$50,000 to $74,999                                  184 non-null    object
 8   Total!!$75,000 to $99,999                                  184 non-null    object
 9   Total!!$100,000 to $149,999                                184 non-null    object
 10  Total!!$150,000 to $199,999                                184 non-null    object
 11  Total!!$200,000 or more                                    184 non-null    object
 12  Median income (dollars)                                    184 non-null    object
 13  Mean income (dollars)                                      184 non-null    object
 14  PERCENT ALLOCATED                                          0 non-null      float64
 15  PERCENT ALLOCATED!!Household income in the past 12 months  184 non-null    object
 16  PERCENT ALLOCATED!!Family income in the past 12 months     184 non-null    object
 17  PERCENT ALLOCATED!!Nonfamily income in the past 12 months  184 non-null    object
dtypes: float64(1), object(17)
memory usage: 42.2+ KB

In [64]:
##income_2020=income_2020[income_2020['Label (Grouping)'].str.contains('372$',case=True,regex=True)]
print(income_2020[income_2020['Label (Grouping)'].str.contains('372$',case=True,regex=True)])

Empty DataFrame
Columns: [Label (Grouping), Total, Total!!Less than $10,000, Total!!$10,000 to $14,999, Total!!$15,000 to $24,999, Total!!$25,000 to $34,999, Total!!$35,000 to $49,999, Total!!$50,000 to $74,999, Total!!$75,000 to $99,999, Total!!$100,000 to $149,999, Total!!$150,000 to $199,999, Total!!$200,000 or more, Median income (dollars), Mean income (dollars), PERCENT ALLOCATED, PERCENT ALLOCATED!!Household income in the past 12 months, PERCENT ALLOCATED!!Family income in the past 12 months, PERCENT ALLOCATED!!Nonfamily income in the past 12 months]
Index: []

nope

In [65]:
income_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 18 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Label (Grouping)                                           299 non-null    object
 1   Total                                                      184 non-null    object
 2   Total!!Less than $10,000                                   184 non-null    object
 3   Total!!$10,000 to $14,999                                  184 non-null    object
 4   Total!!$15,000 to $24,999                                  184 non-null    object
 5   Total!!$25,000 to $34,999                                  184 non-null    object
 6   Total!!$35,000 to $49,999                                  184 non-null    object
 7   Total!!$50,000 to $74,999                                  184 non-null    object
 8   Total!!$75,000 to $99,999                                  184 non-null    object
 9   Total!!$100,000 to $149,999                                184 non-null    object
 10  Total!!$150,000 to $199,999                                184 non-null    object
 11  Total!!$200,000 or more                                    184 non-null    object
 12  Median income (dollars)                                    184 non-null    object
 13  Mean income (dollars)                                      184 non-null    object
 14  PERCENT ALLOCATED                                          0 non-null      float64
 15  PERCENT ALLOCATED!!Household income in the past 12 months  184 non-null    object
 16  PERCENT ALLOCATED!!Family income in the past 12 months     184 non-null    object
 17  PERCENT ALLOCATED!!Nonfamily income in the past 12 months  184 non-null    object
dtypes: float64(1), object(17)
memory usage: 42.2+ KB

In [66]:
income_2020 = income_2020.drop(columns=['PERCENT ALLOCATED','PERCENT ALLOCATED!!Household income in the past 12 months', 'PERCENT ALLOCATED!!Family income in the past 12 months', 'PERCENT ALLOCATED!!Nonfamily income in the past 12 months'], axis = 1)

In [67]:
income_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Label (Grouping)             299 non-null    object
 1   Total                        184 non-null    object
 2   Total!!Less than $10,000     184 non-null    object
 3   Total!!$10,000 to $14,999    184 non-null    object
 4   Total!!$15,000 to $24,999    184 non-null    object
 5   Total!!$25,000 to $34,999    184 non-null    object
 6   Total!!$35,000 to $49,999    184 non-null    object
 7   Total!!$50,000 to $74,999    184 non-null    object
 8   Total!!$75,000 to $99,999    184 non-null    object
 9   Total!!$100,000 to $149,999  184 non-null    object
 10  Total!!$150,000 to $199,999  184 non-null    object
 11  Total!!$200,000 or more      184 non-null    object
 12  Median income (dollars)      184 non-null    object
 13  Mean income (dollars)        184 non-null    object
dtypes: object(14)
memory usage: 32.8+ KB

In [68]:
income_2020.columns=['zip_code', 'Total', 'Less_than_10,000', '10,000_to_14,999', '15,000_to_24,999', '25,000_to_34,999', '35,000_to_49,999' , '50,000_to_79,999', '75,000_to_99,999', '100,000_to_149,999','150,000_to_199,999', '200,000_or_more', 'median', 'mean']

In [69]:
income_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   zip_code            299 non-null    object
 1   Total               184 non-null    object
 2   Less_than_10,000    184 non-null    object
 3   10,000_to_14,999    184 non-null    object
 4   15,000_to_24,999    184 non-null    object
 5   25,000_to_34,999    184 non-null    object
 6   35,000_to_49,999    184 non-null    object
 7   50,000_to_79,999    184 non-null    object
 8   75,000_to_99,999    184 non-null    object
 9   100,000_to_149,999  184 non-null    object
 10  150,000_to_199,999  184 non-null    object
 11  200,000_or_more     184 non-null    object
 12  median              184 non-null    object
 13  mean                184 non-null    object
dtypes: object(14)
memory usage: 32.8+ KB

In [72]:
income_2020.head()

,zip_code,Total,"Less_than_10,000","10,000_to_14,999","15,000_to_24,999","25,000_to_34,999","35,000_to_49,999","50,000_to_79,999","75,000_to_99,999","100,000_to_149,999","150,000_to_199,999","200,000_or_more",median,mean
0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Households,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,"122,354,219",5.8%,4.1%,8.5%,8.6%,12.0%,17.2%,12.8%,15.6%,7.1%,8.3%,"64,994","91,547"
3,Margin of Error,"±211,970",±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±0.1,±128,±157
4,Families,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
income_2020.zip_code.apply(lambda x: x.strip('ZCTA5'))

0                 United States
1                    Households
2                      Estimate
3               Margin of Error
4                      Families
                 ...
294                    Estimate
295             Margin of Error
296        Nonfamily households
297                    Estimate
298             Margin of Error
Name: zip_code, Length: 299, dtype: object

In [74]:
zip_codes = income_2020[income_2020['Label'].str.contains('372')]

KeyError: 'Label'